---
extends: default

ignore: |
  /deployment/backstage
  /deployment/backstage-database
  /deployment/localstack-s3
  /certs
  /node_modules
  /packages/*/dist
  /packages/*/node_modules
  /plugins/*/dist
  /plugins/*/node_modules

rules:
  line-length:
    max: 120
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: false
    level: warning
